<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 加载Spring配置文件 -->
    <context:property-placeholder location="classpath:db.properties"/>
    <context:property-placeholder location="classpath:log4j.properties"/>

    <bean id="springContextUtils" class="com.everSeeker.SpringContextUtils"/>
    <!--<bean id="reflections" class="org.reflections.Reflections">-->
        <!--<constructor-arg value="com.everSeeker"/>-->
    <!--</bean>-->

    <import resource="classpath:spring-mybatis.xml"/>
    <import resource="classpath:spring-task.xml"/>
    <!--<import resource="classpath:spring-jetty.xml"/>-->

    <!-- 使用spring annotation自动扫描配置 -->
    <context:component-scan base-package="com.everSeeker"/>
    <!-- 自动注入 -->
    <context:annotation-config/>

</beans>